In [ ]:
name = "Ved"
print("My name is " + name)

My name is Ved

In [ ]:
fruits = ["apple","banana","orange"]
print(fruits)

['apple', 'banana', 'orange']

In [ ]:
person = {"name":"BOb","age":30,"city":"new york"}
print(person)

{'name': 'BOb', 'age': 30, 'city': 'new york'}

In [ ]:
numbers = (1,2,3)
print(numbers)

(1, 2, 3)