
Classes and Objects

In [ ]:

class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def introduce(self):
     print("My name is",self.name,"and I am",self.age,"years old")
person1 = person("Ved",19)
person1.introduce()

My name is Ved and I am 19 years old

Functions

In [ ]:
def multiply(a,b):
  return a*b
result = multiply(7,3)
print(result)

21